{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card border-5 border-primary">
        <div class="card-header border-primary">
          <h4 class="card-title text-center">Banned Users List</h4>
        </div>
        <div class="card-body">
          <ul class="list-group">
            {% for user in banned_users %}
            <li class="list-group-item">
                {{ user.username }}
                <form method="post" class="d-inline" action="{% url 'unban_user' %}">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <button type="submit" name="unban_user" class="btn btn-success btn-sm ml-2">Unban</button>
                </form>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
