{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mx-auto">
    <div class="col-md-6 mx-auto">
      <div class="card border-5 border-primary mt-5">
        <div class="card-header border-primary">
          <h1 class="card-title text-center">Edit Profile</h1>
        </div>
        <div class="card-body text-center">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="mb-3">
            {{ form.profile_picture.label_tag }}
            {{ form.profile_picture }}
          </div>

          <div class="mb-3">
            {{ form.username }}
          </div>
          <div class="mb-3">
            {{ form.first_name }}
          </div>
          <div class="mb-3">
            {{ form.last_name }}
          </div>

          <!-- Social Links Fields -->

          <div class="mb-3">
            {{ form.twitter_link }}
          </div>
          <div class="mb-3">
            {{ form.youtube_link }}
          </div>
          <div class="mb-3">
            {{ form.activision_id }}
          </div>

          <div class="mb-3">
            {{ form.birthday.label_tag }}
            {{ form.birthday }}
          </div>
          <div class="mb-3">
            {{ form.timezone.label_tag }}
            {{ form.timezone }}
          </div>
          <div class="mb-3">
            {{ form.country.label_tag }}
            {{ form.country }}
          </div>

          <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
</br></br>
{% endblock %}