{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="card border-5 border-primary mt-5">
                <div class="card-header border-primary text-center">
                    <h2 class="mb-4">Login</h2>
                </div>
                    <form method="post">
                        </br>
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            {{ form.password }}
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        </br>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
