{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center mt-5">
        <a href="{% url 'duos_team_detail' team_id=request.user.current_team.id %}" class="btn btn-primary custom-shadow rounded-top-5 rounded-bottom-0">View Team</a>
      </div>
      <div class="card border-5 border-primary custom-shadow rounded-4">
        <div class="card-header border-primary text-center">
          <h1>Manage Your Team</h1>
        </div>
        <div class="card-body text-center">
          {% if team.eligible %}
            <p>Eligibility <i class="fa-solid fa-square-check" style="color: #5cb85c;"></i></p>
          {% else %}
            <p>Eligibility <i class="fa-solid fa-square-xmark" style="color: #d9534f;"></i></p>
            <p>Team will be eligible in {{ team.eligible_at|timeuntil }}</p>
          {% endif %}
          {% if request.user == team.owner %}
            <div class="text-center">
              <!-- Modal for confirming match result submission -->
              <div class="modal fade" id="disbandTeamModal" tabindex="-1" aria-labelledby="disbandTeamModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="disbandTeamModal">Confirm Disbanding {{ team.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    Are you sure you want to Disband {{ team.name }}? There is no way to undo this action.
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary custom-shadow-small rounded-3" data-bs-dismiss="modal">Cancel</button>
                    <a href="{% url 'disband_duos_team' team_id=team.id %}" class="btn btn-danger custom-shadow-danger rounded-3">Disband Team</a>
                    </div>
                  </div>
                </div> 
              </div>
            </div>
              
            </br>

            <h3>Team Name</h3>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                {{ form.name }}
              </div>
            </br>
            <h3>Team Logo</h3>
              <div class="form-group mx-auto">
                
                {{ form.logo }}
                {% if form.logo.value %}
                <div class="text-center">
                  <img src="{{ form.logo.value.url }}" alt="{{ team.name }} Logo" width="100" height="100" class="img-fluid">
                </div>
                {% endif %}
              </div>
            </br>
              <button type="submit" class="btn btn-primary custom-shadow-small rounded-3">Save Changes</button>
            </form>

          {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5 ">
  <div class="row justify-content-center my-4">
    <div class="col-md-8 my-4">
      <div class="card border-primary border-5 custom-shadow rounded-4">
        <div class="card-header border-primary text-center"><h2>Roster</h2></div>
          <div class="card-body text-center shadow-lg">
            <div class="row justify-content-center">
              {% for player in team.players.all %}
                <div class="col-md-6 my-4">
                  <div class="card mx-3 border custom-shadow-small rounded-4 text-center mb-4">
                    <div class="card-header text-center">
                      <h1><a href="{% url 'other_user_profile' username=player.username %}"class="link-underline-dark link-light link-offset-1 link-underline-opacity-25 link-underline-opacity-0-hover stretched-link">{{ player.username }}</a></h1>
                      <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border rounded">
                        <h2>{{ player.formatted_rating }}</h2>
                      </span>  
                    </div>
                    {% if player.profile_picture%}
                      <div>
                        <img src="{{ player.profile_picture.url }}" alt="{{ player.username }} Profile Picture" class="img-fluid rounded-circle mb-3" style="object-fit: cover; width: 150px; height: 150px;">
                      </div>
                    {% else %}
                      <div>
                        <img src="\media\sweatygameslogo1.png" alt="{{ player.username }} Profile Picture" class="img-fluid rounded-circle mb-3" style="object-fit: cover; width: 150px; height: 150px;">
                      </div>
                    {% endif %}
                    {% if player.eligible %}
                      <p>Eligibility <i class="fa-solid fa-square-check" style="color: #5cb85c;"></i></p>
                    {% else %}
                      <p>Eligibility <i class="fa-solid fa-square-xmark" style="color: #d9534f;"></i></p>
                      <p>Player will be eligible in {{ player.eligible_at|timeuntil }}</p>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
              <div class="text-center">
                <button type="button" class="btn btn-danger custom-shadow-danger rounded-3" data-bs-toggle="modal" data-bs-target="#disbandTeamModal">Disband Team</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
