{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center mx-auto">
        <div class="col-md-8">
            <div class="card border-5 border-primary text-center rounded-5">
                <div class="card-header rounded-5 border-2 border-primary">
                    <h1>Messages With <a href="{% url 'other_user_profile' username=other_user.username %}" class="link-underline-dark link-light link-offset-1 link-underline-opacity-25 link-underline-opacity-0-hover">{{ other_user.username }}</a></h1>
                </div>
                <div class="scrollable-container-messages" id="message-container">
                    <div class="card-body">
                        {% for message in all_messages %}
                                <div class="card mb-3 rounded-5">
                                    <div class="card-body border border-primary rounded-5">

                                            <div class="card-header rounded-5 ">
                                                {% if message.sender == request.user %}
                                                    <a href="{% url 'other_user_profile' username=request.user.username %}" class="link-underline-dark link-light link-offset-1 link-underline-opacity-25 link-underline-opacity-0-hover">
                                                        <img src="{{ request.user.profile_picture.url }}" alt="{{ request.user.username }}" style="width: 30px; height: 30px; border-radius: 50%;">
                                                    </a>
                                                    <p class="mb-0">
                                                        <a href="{% url 'other_user_profile' username=request.user.username %}" class="link-underline-dark link-light link-offset-1 link-underline-opacity-25 link-underline-opacity-0-hover">{{ request.user.username }}</a>
                                                    </p>

                                                {% else %}
                                                    <a href="{% url 'other_user_profile' username=other_user.username %}" class="link-underline-dark link-light link-offset-1 link-underline-opacity-25 link-underline-opacity-0-hover">
                                                        <img src="{{ other_user.profile_picture.url }}" alt="{{ other_user.username }}" style="width: 30px; height: 30px; border-radius: 50%;">
                                                    </a>
                                                    <p class="mb-0">
                                                        <a href="{% url 'other_user_profile' username=other_user.username %}" class="link-underline-dark link-light link-offset-1 link-underline-opacity-25 link-underline-opacity-0-hover">{{ other_user.username }}</a>
                                                    </p>
                                                {% endif %}
                                            </div>
                                            
                                            <div>
                                                </br>
                                                <div class="card-text">{{ message.content }}</div>
                                                </br>
                                            </div>

                                        <div class="row justify-content-between">
                                            <div class="col-auto">
                                                <!-- Empty space for layout adjustment -->
                                            </div>
                                            <div class="col-auto">

                                                <small class="text-muted">{{ message.timestamp }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                    </div>


                    <!-- Form for composing and sending messages -->
                    

                </div>
                <div class="card-footer">
                    <form method="post" action="{% url 'send_message' username=other_user.username %}">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Type your message..." name="message_content">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // Function to scroll to the bottom of the message container
    function scrollToBottom() {
        var messageContainer = document.getElementById('message-container');
        messageContainer.scrollTop = messageContainer.scrollHeight;
    }

    // Call the function when the page loads
    window.onload = function () {
        scrollToBottom();
    };
</script>



{% endblock %}
