{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<style>
  /* Custom CSS for hover effect */
  .link-light:hover {
    color: #FFC107 !important; /* Yellow color */
  }
</style>

<div class="container mt-5">
  <div class="row justify-content-center text-center">
    <div class="col-md-4">
      <div class="card border-5 border-primary shadow-lg">
        <div class="card-header border-primary text-center">
          <h1>{% trans "Login" %}</h1>
        </div>

        {% get_providers as socialaccount_providers %}


        <p>{% blocktrans with site.name as site_name %}Please sign in with your Sweaty Games credentials.
        {% endblocktrans %}</p>


        {% include "socialaccount/snippets/login_extra.html" %}





        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="text-centered">
            <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
          </div>
          <a class="link-underline-dark link-light link-offset-1 link-underline-opacity-25 link-underline-opacity-0-hover" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          
        </form>
        <p><a href="{{ signup_url }}" class="link-underline-dark link-light link-offset-1 link-underline-opacity-25 link-underline-opacity-0-hover">Register An Account</a></p>
      </div>
    </div>
  </div>
</div>   


{% endblock %}
