{% extends 'base.html' %}
{% load tz %}

{% block content %}

  


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center mt-3">
        {% if request.user.current_duos_team and request.user.current_duos_team.owner == request.user %}
          <a href="{% url 'create_duos_challenge' %}" class="btn btn-primary custom-shadow  rounded-top-5 rounded-bottom-0">Post A Challenge</a>
        {% elif request.user.current_team%}
          <a href="{% url 'my_challenges' %}" class="btn btn-primary custom-shadow  rounded-top-5 rounded-bottom-0">My Challenges</a>
        {% else %}
          <a href="{% url 'create_duos_team' %}" class="btn btn-primary custom-shadow rounded-top-5 rounded-bottom-0">Create A Team</a>
        {% endif %}
      </div>

      <div class="card border-5 border-primary rounded-4 custom-shadow">
        <div class="card-header border-primary text-center">
          <h1>Open MWIII Duos Challenges</h1>
        </div>
        <div class="card-body custom-shadow-small">
          <div class="scrollable-container-challenges">
            <ul class="list-group-item text-center mt-3">
              {% if challenges %}
                {% for challenge in challenges|dictsort:'scheduled_date' %}
                    
                        <!-- Modal for confirming challenge acceptance -->
                        <div class="modal fade" id="confirmAcceptModal{{ challenge.pk }}" tabindex="-1" aria-labelledby="confirmAcceptModalLabel{{ challenge.pk }}" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title ms-auto" id="confirmAcceptModalLabel{{ challenge.pk }}">Accept Challenge?</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <p>To accept the challenge please select 2 players from your team that will be participating in the match.</p>
                                    <hr class="mx-auto custom-shadow-small border-primary border-4 rounded-3" style="width:60%">
                                    <form method="post" action="{% url 'accept_duos_challenge' challenge.pk %}">
                                      {% csrf_token %}
                                      {{ form.as_p }}
                          
                                      {% if form.errors %}
                                          <ul class="errorlist">
                                              {% for field_errors in form.errors %}
                                                  {% for error in field_errors %}
                                                      <li>{{ error }}</li>
                                                  {% endfor %}
                                              {% endfor %}
                                          </ul>
                                      {% endif %}
                          
                                      <input type="submit" class="btn btn-primary custom-shadow-small rounded-3" value="Accept">
                                  </form>
                                  
                                  
                                  
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary custom-shadow-danger rounded-3" data-bs-dismiss="modal">Cancel</button>
                                </div>
                              </div>
                          </div>
                      </div>

                        <div class="row justify-content-center">
                          <li class="col-md-8 rounded my-2">
                            <div class="card border-2 rounded-4 border custom-shadow-small">
                              <div class="card-header text-center">
                                <h4><a href="{% url 'team_detail' team_id=challenge.team.id %}" class="link-underline-dark link-light link-offset-1 link-underline-opacity-25 link-underline-opacity-0-hover">{{ challenge.team.name }}</a></h4>
                                <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border rounded">
                                    <h2>{{ challenge.team.formatted_rating }}</h2>
                                </span>
                              </div>
                              <div class="card-body text-center">
                                <p class="p-1 bg-warning text-dark custom-shadow-warning rounded col-md-8 mx-auto"><i class="fa-regular fa-clock fa-beat-fade"></i> Starts In: {{ challenge.scheduled_date|timeuntil }}</p>
                                <p>{{ challenge.scheduled_date|timezone:request.user.timezone }}</p>

                                {% if challenge.team.logo %}
                                <div class="text-center">
                                    <img src="{{ challenge.team.logo.url }}" alt="{{ challenge.team.name }} Logo" width="300" height="300" class="img-fluid fixed-logo mb-5">
                                </div>
                                {% endif %}

                                {% if challenge.search_only %}
                                  <p class="p-1 border border rounded-4 custom-shadow-small col-md-8 mx-auto"><i class="fa-solid fa-bomb fa-beat-fade"></i> Search & Destroy Only</p>
                                {% else %}
                                  <p class="p-1 border border rounded-4 custom-shadow-small col-md-8 mx-auto"><i class="fa-solid fa-circle-nodes fa-spin fa-spin"></i> All Gametypes</p>
                                {% endif %}


                                {% if challenge.controller_only %}
                                  <p class="p-1 border border rounded-4 custom-shadow-small col-md-8 mx-auto"><i class="fa-solid fa-gamepad fa-beat-fade"></i> Controller Only</p>
                                {% else %}
                                  <p class="p-1 border border rounded-4 custom-shadow-small col-md-8 mx-auto"><i class="fa-solid fa-keyboard fa-beat-fade"></i> Any Input</p>
                                {% endif %}


                                <hr class="mx-auto custom-shadow-small border-primary border-4 rounded-3" style="width:60%">


                                {% if request.user.current_duos_team and request.user.current_duos_team.owner == request.user %}
                                    {% if challenge.team != request.user.current_duos_team %}
                                        {% if challenge.accepted %}
                                        <span class="badge badge-success">Challenge Accepted!</span>
                                        {% else %}
                                        <a href="{% url 'accept_duos_challenge' challenge.pk %}" class="btn btn-primary custom-shadow-small rounded-3">Accept Challenge</a>


                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if request.user == challenge.team.owner %}
                                  <button type="button" class="btn btn-danger custom-shadow-danger rounded-3" data-bs-toggle="modal" data-bs-target="#cancelChallengeModal">Cancel Challenge</button>
                                  <!-- Modal for confirming match result submission -->
                                  <div class="modal fade" id="cancelChallengeModal" tabindex="-1" aria-labelledby="cancelChallengeModal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title ms-auto" id="cancelChallengeModal">Cancel Challenge?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                            Are you sure you want to cancel this challenge?
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary custom-shadow-small rounded-3" data-bs-dismiss="modal">Close</button>
                                            <a href="{% url 'cancel_duos_challenge' challenge.id %}" class="btn btn-danger custom-shadow-danger">Cancel Challenge</a>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  {% endif %}
                              </div>
                            </div>
                          </li>
                        </div>
                        </br>
                {% endfor %}
              {% else %}
                <p class="mt-3 text-center">No pending Challenges.</p>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</br></br></br>

<style>
    /* Reset default list styles */
    .list-group-item {
      list-style: none;
    }
</style>

{% endblock %}
