{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Open Support -->
            <div class="card border-5 border-primary custom-shadow rounded-4 mb-4">
                <div class="card-header border-primary">
                    <h4 class="card-title text-center">Open Support Tickets</h4>
                </div>
                <div class="card-body text-center">
                    <ul class="list-group">
                        {% for support in open_support %}
                            <li class="list-group-item">
                                <a href="{% if support.id %}{% url 'duos_support_detail' support_id=support.id %}{% endif %}">{{ support }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Closed Bug Reports -->
            <div class="card border-5 border-danger custom-shadow-danger rounded-4">
                <div class="card-header border-danger">
                    <h4 class="card-title text-center">Closed Support Tickets</h4>
                </div>
                <div class="card-body text-center">
                    <ul class="list-group">
                        {% for support in closed_support %}
                            <li class="list-group-item">
                                <a href="{% if support.id %}{% url 'duos_support_detail' support_id=support.id %}{% endif %}">{{ support }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
