{% extends 'base.html' %}
{% load tz %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- Your buttons for posting a challenge, viewing the team, and creating a team -->
      <!-- ... -->
      


      <!-- Card for displaying active direct challenges where the user's team is the challenged team -->
      <div class="card rounded-4 border-5 border-primary custom-shadow mt-4">
        <h1 class="card-header border-primary text-center">Challenged By</h1>
        <div class="card-body custom-shadow-small">
          <div class="scrollable-container-challenges">
            <ul class="list-group-item text-center mt-3">
              <!-- Display details for challenged direct challenges -->
              {% if my_challenged_direct_challenges %}
                {% for direct_challenge in my_challenged_direct_challenges %}

                  <!-- Modal for confirming challenge acceptance -->
                  <div class="modal fade" id="confirmAcceptModal{{ direct_challenge.pk }}" tabindex="-1" aria-labelledby="confirmAcceptModalLabel{{ direct_challenge.pk }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title ms-auto" id="confirmAcceptModalLabel{{ direct_challenge.pk }}">Accept Challenge?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>To accept the challenge please select 4 players from your team that will be participating in the match.</p>
                          <hr class="mx-auto custom-shadow-small border-primary border-4 rounded-3" style="width:60%">
                          <form method="post" action="{% url 'accept_direct_challenge' direct_challenge.pk %}">
                              {% csrf_token %}
                              {{ form.as_p }}
                              <input type="submit" class="btn btn-primary custom-shadow-small rounded-3" value="Accept">
                          </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary custom-shadow-small" data-bs-dismiss="modal">Cancel</button>
                        </div>
                      </div>
                    </div>
                </div>

                  <div class="row justify-content-center">
                    <li class="col-md-8 rounded my-2">
                      <div class="card border-4 rounded-4 custom-shadow-small">
                        <div class="card-header text-center">
                          <h4><a href="{% url 'duos_team_detail' team_id=direct_challenge.challenging_team.id %}" class="link-underline-dark link-light link-offset-1 link-underline-opacity-25 link-underline-opacity-0-hover">{{ direct_challenge.challenging_team.name }}</a></h4>
                          <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border rounded">
                            <h2>{{ direct_challenge.challenging_team.formatted_rating }}</h2>
                          </span>
                        </div>
                        <div class="card-body text-center">
                          <p class="p-1 bg-warning text-dark custom-shadow-warning rounded col-md-6 mx-auto">
                            <i class="fa-regular fa-clock fa-beat-fade"></i> Starts In: {{ direct_challenge.scheduled_date|timeuntil }}</p>
                          {% if direct_challenge.challenging_team.logo %}
                            <div class="text-center">
                              <img src="{{ direct_challenge.challenging_team.logo.url }}" alt="{{ direct_challenge.challenging_team.name }} Logo" width="300" height="300" class="fixed-logo img-fluid">
                            </div>
                          {% endif %}
                          <p>{{ direct_challenge.scheduled_date|timezone:request.user.timezone }}</p>


                          {% if direct_challenge.search_only %}
                            <p class="p-1 border border rounded-4 custom-shadow-small col-md-8 mx-auto"><i class="fa-solid fa-bomb fa-beat-fade"></i> Search & Destroy Only</p>
                          {% else %}
                            <p class="p-1 border border rounded-4 custom-shadow-small col-md-8 mx-auto"><i class="fa-solid fa-circle-nodes fa-spin fa-spin"></i> All Gametypes</p>
                          {% endif %}
                          

                          {% if direct_challenge.controller_only %}
                            <p class="p-1 border border rounded-4 custom-shadow-small col-md-8 mx-auto"><i class="fa-solid fa-gamepad fa-beat-fade"></i> Controller Only</p>
                          {% else %}
                            <p class="p-1 border border rounded-4 custom-shadow-small col-md-8 mx-auto"><i class="fa-solid fa-keyboard fa-beat-fade"></i> Any Input</p>
                          {% endif %}


                          <hr class="mx-auto custom-shadow-small border-primary border-4 rounded-3" style="width:60%">

                          {% if request.user.current_duos_team and request.user.current_duos_team.owner == request.user %}
                              {% if direct_challenge.challenging_team != request.user.current_duos_team %}
                                  {% if direct_challenge.accepted %}
                                  <span class="badge badge-success">Challenge Accepted!</span>
                                  {% else %}
                                  <a href="{% url 'accept_direct_duos_challenge' direct_challenge.pk %}" class="btn btn-primary custom-shadow-small rounded-3">Accept Challenge</a>

                                  {% endif %}
                              {% endif %}
                          {% endif %}
                            
                        </div>

                        {% if request.user == direct_challenge.challenged_team.owner %}
                          
                          <!-- Button for declining direct challenge -->
                          <div>
                            <button type="button" class="btn btn-danger custom-shadow-danger rounded-3 mb-3" data-bs-toggle="modal" data-bs-target="#declineDirectChallengeModal{{ direct_challenge.pk }}">Decline Challenge</button>
                          </div>
                          <!-- Modal for confirming decline of direct challenge -->
                          <div class="modal fade" id="declineDirectChallengeModal{{ direct_challenge.pk }}" tabindex="-1" aria-labelledby="declineDirectChallengeModalLabel{{ direct_challenge.pk }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title ms-auto" id="declineDirectChallengeModalLabel{{ direct_challenge.pk }}">Decline Challenge?</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  Are you sure you want to decline this challenge?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary custom-shadow-small" data-bs-dismiss="modal">Close</button>
                                  <a href="{% url 'decline_direct_duos_challenge' direct_challenge.pk %}" class="btn btn-danger custom-shadow-danger rounded-3">Decline Challenge</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endif %}

                      </div>
                    </li>
                  </div>

                {% endfor %}
              {% else %}
                <p class="mt-3 text-center">No pending Challenges.</p>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>

    </br>

      <!-- Card for displaying active open challenges -->
      <div class="card border border-5 rounded-4 border-primary custom-shadow">
        <h1 class="card-header border-primary text-center">Open Challenges</h1>
        <div class="card-body custom-shadow-small">
          <div class="scrollable-container-challenges">
            <ul class="list-group-item text-center mt-3">
              {% if my_challenges %}
                {% for challenge in my_challenges %}
                  </br>
                  <div class="row justify-content-center mb-5">
                    <li class="col-md-8 rounded">
                      <div class="card border-4 rounded-4 custom-shadow-small">
                        <div class="card-header text-center">
                          <h4><a href="{% url 'duos_team_detail' team_id=challenge.team.id %}" class="link-underline-dark link-light link-offset-1 link-underline-opacity-25 link-underline-opacity-0-hover">{{ challenge.team.name }}</a></h4>
                          <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border rounded">
                            <h2>{{ challenge.team.formatted_rating }}</h2>
                          </span>
                        </div>
                        <div class="card-body text-center">
                          <p class="p-1 bg-warning text-dark custom-shadow-warning rounded col-md-8 mx-auto">
                            <i class="fa-regular fa-clock fa-beat-fade"></i> Starts In: {{ challenge.scheduled_date|timeuntil }}</p>
                          {% if challenge.team.logo %}
                            <div class="text-center">
                              <img src="{{ challenge.team.logo.url }}" alt="{{ challenge.team.name }} Logo" 
                                  width="300" height="300" class="img-fluid fixed-logo">
                            </div>
                          {% endif %}
                          <p>{{ challenge.scheduled_date|timezone:request.user.timezone }}</p>

                          {% if challenge.search_only %}
                            <p class="p-1 border border rounded-4 custom-shadow-small col-md-8 mx-auto"><i class="fa-solid fa-bomb fa-beat-fade"></i> Search & Destroy Only</p>
                          {% else %}
                            <p class="p-1 border border rounded-4 custom-shadow-small col-md-8 mx-auto"><i class="fa-solid fa-circle-nodes fa-spin fa-spin"></i> All Gametypes</p>
                          {% endif %}

                          {% if challenge.controller_only %}
                            <p class="p-1 border border rounded-4 custom-shadow-small col-md-8 mx-auto"><i class="fa-solid fa-gamepad fa-beat-fade"></i> Controller Only</p>
                          {% else %}
                            <p class="p-1 border border rounded-4 custom-shadow-small col-md-8 mx-auto"><i class="fa-solid fa-keyboard fa-beat-fade"></i> Any Input</p>
                          {% endif %}


                          <hr class="mx-auto custom-shadow-small border-primary border-4 rounded-3" style="width:60%">

                        </div>

                        {% if request.user == challenge.team.owner %}
                            <div>
                              <button type="button" class="btn btn-danger custom-shadow-danger rounded-3 mb-3" data-bs-toggle="modal" data-bs-target="#cancelChallengeModal">Cancel Challenge</button>
                            </div>
                            <!-- Modal for cancel challenge -->
                            <div class="modal fade" id="cancelChallengeModal" tabindex="-1" aria-labelledby="cancelChallengeModal" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title ms-auto" id="cancelChallengeModal">Cancel Challenge?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    Are you sure you want to cancel this challenge?
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary custom-shadow-small" data-bs-dismiss="modal">Close</button>
                                    <a href="{% url 'cancel_duos_challenge' challenge.id %}" class="btn btn-danger custom-shadow-danger rounded-3">Cancel Challenge</a>
                                  </div>
                                </div>
                              </div>
                            </div>

                        {% endif %}

                      </div>
                    </li>
                  </div>

                {% endfor %}
              {% else %}
                <p class="mt-3 text-center">No pending Challenges.</p>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>

      <!-- Card for displaying active direct challenges where the user's team is the challenging team -->
      <div class="card border-5 border-primary rounded-4 custom-shadow mt-3">
        <h1 class="card-header border-primary text-center">Challenged</h1>
        <div class="card-body custom-shadow-small">
          <div class="scrollable-container-challenges">
            <ul class="list-group-item text-center mt-3">
              <!-- Display details for challenging direct challenges -->
              {% if my_challenging_direct_challenges%}
                {% for direct_challenge in my_challenging_direct_challenges %}
                  <div class="row justify-content-center">
                    <li class="col-md-8 rounded my-2">
                      <div class="card border-4 rounded-4 custom-shadow-small">
                        <div class="card-header text-center">
                          <h4><a href="{% url 'duos_team_detail' team_id=direct_challenge.challenged_team.id %}" class="link-underline-dark link-light link-offset-1 link-underline-opacity-25 link-underline-opacity-0-hover">{{ direct_challenge.challenged_team.name }}</a></h4>
                          <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border rounded">
                            <h2>{{ direct_challenge.challenged_team.formatted_rating }}</h2>
                          </span>
                        </div>
                        <div class="card-body text-center">
                          <p class="p-1 bg-warning text-dark custom-shadow-warning rounded col-md-6 mx-auto">
                            <i class="fa-regular fa-clock fa-beat-fade"></i> Starts In: {{ direct_challenge.scheduled_date|timeuntil }}</p>
                          {% if direct_challenge.challenged_team.logo %}
                            <div class="text-center">
                              <img src="{{ direct_challenge.challenged_team.logo.url }}" alt="{{ direct_challenge.challenged_team.name }} Logo" 
                                  width="300" height="300" class="img-fluid fixed-logo">
                            </div>
                          {% endif %}

                          <p>{{ direct_challenge.scheduled_date|timezone:request.user.timezone }}</p>

                          {% if direct_challenge.search_only %}
                            <p class="p-1 border border rounded-4 custom-shadow-small col-md-8 mx-auto"><i class="fa-solid fa-bomb fa-beat-fade"></i> Search & Destroy Only</p>
                          {% else %}
                            <p class="p-1 border border rounded-4 custom-shadow-small col-md-8 mx-auto"><i class="fa-solid fa-circle-nodes fa-spin fa-spin"></i> All Gametypes</p>
                          {% endif %}

                          {% if direct_challenge.controller_only %}
                            <p class="p-1 border border rounded-4 custom-shadow-small col-md-8 mx-auto"><i class="fa-solid fa-gamepad fa-beat-fade"></i> Controller Only</p>
                          {% else %}
                            <p class="p-1 border border rounded-4 custom-shadow-small col-md-8 mx-auto"><i class="fa-solid fa-keyboard fa-beat-fade"></i> Any Input</p>
                          {% endif %}
                          
                          <hr class="mx-auto custom-shadow-small border-primary border-4 rounded-3" style="width:60%">
                          <!-- Additional challenge details here -->
                          <!-- ... -->
                        </div>

                        {% if request.user == direct_challenge.challenging_team.owner %}
                          <div>
                            <button type="button" class="btn btn-danger rounded-3 custom-shadow-danger mb-3" data-bs-toggle="modal" data-bs-target="#cancelDirectChallengeModal">Cancel Challenge</button>
                          </div>
                          <!-- Modal for confirming match result submission -->
                          <div class="modal fade" id="cancelDirectChallengeModal" tabindex="-1" aria-labelledby="cancelDirectChallengeModal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title ms-auto" id="cancelDirectChallengeModal">Cancel Challenge?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                Are you sure you want to cancel this challenge?
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary custom-shadow-small" data-bs-dismiss="modal">Close</button>
                                <a href="{% url 'cancel_direct_duos_challenge' direct_challenge.id %}" class="btn custom-shadow-danger rounded-3 btn-danger">Cancel Challenge</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endif %}

                      </div>
                    </li>
                  </div>

                {% endfor %}
              {% else %}
                <p class="mt-3 text-center">No pending Challenges.</p>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>

      

    </div>
  </div>
</div>
</br></br></br>

<style>
    /* Reset default list styles */
    .list-group-item {
      list-style: none;
    }
</style>

{% endblock %}
