{% extends 'base.html' %}
{% load tz %}

{% block content %}

  


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card border-5 border-primary rounded-4 custom-shadow">
        <div class="card-header border-primary text-center">
          <h1>{{ user.username }} Disputes</h1>
        </div>
        <div class="card-body custom-shadow-small">
          <div class="scrollable-container-challenges">
            </br>

            {%if user.current_team %}
                <div class="text-center mt-3">
                    <a href="{% url 'dispute_proofs_list' %}" class="btn btn-primary custom-shadow-small rounded-3">
                      MWIII Squads Disputes
                      {% for proof in dispute_proofs %}
                        {% if not proof.match.match_completed %}
                          <i class="fa-solid fa-circle-exclamation fa-beat" style="color: #ffff00;"></i>
                        {% endif %}
                      {% endfor %}
                    
                    </a>
                </div>
            {% endif %}

            

            {%if user.current_duos_team %}
                <div class="text-center mt-3">
                    <a href="{% url 'duos_dispute_proofs_list' %}" class="btn btn-primary custom-shadow-small rounded-3">
                        MWIII Duos Disputes
                        {% for proof in duos_dispute_proofs %}
                          {% if not proof.match.match_completed %}
                            <i class="fa-solid fa-circle-exclamation fa-beat" style="color: #ffff00;"></i>
                          {% endif %}
                        {% endfor %}
                    </a>
                </div>
            {% endif %}

            </br></br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
    /* Reset default list styles */
    .list-group-item {
      list-style: none;
    }
</style>

{% endblock %}
