{% extends 'base.html' %}
{% load tz %}

{% block content %}

  


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card border-5 border-primary rounded-4 custom-shadow">
        <div class="card-header border-primary text-center">
          <h1>{{ user.username }} Teams</h1>
        </div>
        <div class="card-body custom-shadow-small">
          <div class="scrollable-container-challenges">
            

            {%if user.current_team %}      


                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="card card-border border-5 rounded-4 border-primary custom-shadow">
                                <div class="card-header card-border border-primary text-center" >
                                  <a href="{% url 'team_detail' team_id=user.current_team.id %}" class="link-underline-dark link-light link-offset-1 link-underline-opacity-25 link-underline-opacity-0-hover stretched-link"><h1>{{ user.current_team.name }}</h1></a>
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border rounded">
                                        <h2>{{ user.current_team.formatted_rating }}</h2>
                                      </span>
                                </div>
                                <div class="card-body">
                                    {% if user.current_team.logo %}
                                        <div class="text-center">
                                            <img src="{{ user.current_team.logo.url }}" alt="{{ user.current_team.name }} Logo" width="300" height="300" class="img-fluid fixed-logo">
                                        </div>
                                    {% endif %}
                                    <div class="text-center">
                                        <h3>
                                          <span class="text-success">{{ user.current_team.wins }}</span>-<span class="text-danger">{{ user.current_team.losses }}</span>
                                        </h3>
                                    </div>
                                    
                                    <p class="text-center"><i class="fa-solid fa-users"></i> MWIII Squads</p>
                                    <hr class="mx-auto border-primary border-5 custom-shadow-small rounded-3" style="width:30%">
                                    <p class="text-center">Est. {{ user.current_team.established|date:"F d, Y" }}</p>
                
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            {% endif %}

            

            {%if user.current_duos_team %}
                  
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card card-border border-5 rounded-4 border-primary custom-shadow">
                            <div class="card-header card-border border-primary text-center" >
                              <a href="{% url 'duos_team_detail' team_id=user.current_duos_team.id %}" class="link-underline-dark link-light link-offset-1 link-underline-opacity-25 link-underline-opacity-0-hover stretched-link"><h1>{{ user.current_duos_team.name }}</h1></a>
                                <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border rounded">
                                    <h2>{{ user.current_duos_team.formatted_rating }}</h2>
                                  </span>
                            </div>
                            <div class="card-body">
                                {% if user.current_duos_team.logo %}
                                    <div class="text-center">
                                        <img src="{{ user.current_duos_team.logo.url }}" alt="{{ user.current_duos_team.name }} Logo" width="300" height="300" class="img-fluid fixed-logo">
                                    </div>
                                {% endif %}
                                <div class="text-center">
                                    <h3>
                                      <span class="text-success">{{ user.current_duos_team.wins }}</span>-<span class="text-danger">{{ user.current_duos_team.losses }}</span>
                                    </h3>
                                </div>
                                
                                <p class="text-center"><i class="fa-solid fa-user-group"></i> MWIII Duos</p>
                                <hr class="mx-auto border-primary border-5 custom-shadow-small rounded-3" style="width:30%">
                                <p class="text-center">Est. {{ user.current_duos_team.established|date:"F d, Y" }}</p>
            
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            {% endif %}
                 </br></br></br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</br></br></br></br></br></br>

<style>
    /* Reset default list styles */
    .list-group-item {
      list-style: none;
    }
</style>

{% endblock %}
