{% extends 'base.html' %}
{% load tz %}

{% block content %}

  


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center mt-3">
        
        {% if request.user.current_team %}
          <a href="{% url 'create_challenge' %}" class="btn btn-primary custom-shadow-small rounded-3">Post A Challenge</a>
        {% else %}
          <a href="{% url 'create_team' %}" class="btn btn-primary custom-shadow-small rounded-3 ml-3">Create A Team</a>
        {% endif %}
      </div>
      </br>
      <div class="card border-5 border-primary rounded-4 custom-shadow">
        <div class="card-header border-primary text-center">
          <h1>Open Challenges</h1>
        </div>
        <div class="card-body custom-shadow-small">
          <div class="scrollable-container-challenges">
            <ul class="list-group-item text-center mt-3">
              {% if challenges %}
                {% for challenge in challenges|dictsort:'scheduled_date' %}
                    
                        <!-- Modal for confirming challenge acceptance -->
                        <div class="modal fade" id="confirmAcceptModal{{ challenge.pk }}" tabindex="-1" aria-labelledby="confirmAcceptModalLabel{{ challenge.pk }}" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title ms-auto" id="confirmAcceptModalLabel{{ challenge.pk }}">Accept Challenge?</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                      Are you sure you want to accept this challenge?
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                      <a href="{% url 'accept_challenge' challenge.pk %}" class="btn btn-primary custom-shadow-small rounded-3">Accept</a>
                                  </div>
                              </div>
                          </div>
                      </div>

                        <div class="row justify-content-center">
                          <li class="col-md-8 rounded my-2">
                            <div class="card border-2 rounded-4 border custom-shadow-small">
                              <div class="card-header text-center">
                                <h4><a href="{% url 'team_detail' team_id=challenge.team.id %}" class="link-underline-dark link-light link-offset-1 link-underline-opacity-25 link-underline-opacity-0-hover">{{ challenge.team.name }}</a></h4>
                                <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border rounded">
                                    <h2>{{ challenge.team.formatted_rating }}</h2>
                                </span>
                              </div>
                              <div class="card-body text-center">
                                <p class="p-1 bg-warning text-dark border custom-shadow-warning rounded col-md-8 mx-auto"><i class="fa-regular fa-clock fa-beat-fade"></i> Starts In: {{ challenge.scheduled_date|timeuntil }}</p>

                                {% if challenge.team.logo %}
                                <div class="text-center">
                                    <img src="{{ challenge.team.logo.url }}" alt="{{ challenge.team.name }} Logo" width="300" height="300" class="img-fluid">
                                </div>
                                {% endif %}
                                <p>{{ challenge.scheduled_date|timezone:request.user.timezone }}</p>
                                {% if challenge.search_only %}
                                  <p class="p-1 border border rounded col-md-8 mx-auto"><i class="fa-solid fa-bomb fa-beat-fade"></i> Search & Destroy Only</p>
                                {% else %}
                                <p class="p-1 border border rounded col-md-8 mx-auto"><i class="fa-solid fa-circle-nodes fa-spin fa-spin"></i> All Gametypes</p>
                                {% endif %}
                                <hr>
                                {% if request.user.current_team and request.user.current_team.owner == request.user %}
                                    {% if challenge.team != request.user.current_team %}
                                        {% if challenge.accepted %}
                                        <span class="badge badge-success">Challenge Accepted!</span>
                                        {% else %}
                                        <button type="button" class="btn btn-primary custom-shadow-small rounded-3s" data-bs-toggle="modal" data-bs-target="#confirmAcceptModal{{ challenge.pk }}">Accept Challenge</button>

                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if request.user == challenge.team.owner %}
                                  <button type="button" class="btn btn-danger custom-shadow-danger" data-bs-toggle="modal" data-bs-target="#cancelChallengeModal">Cancel Challenge</button>
                                  <!-- Modal for confirming match result submission -->
                                  <div class="modal fade" id="cancelChallengeModal" tabindex="-1" aria-labelledby="cancelChallengeModal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title ms-auto" id="cancelChallengeModal">Cancel Challenge?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                            Are you sure you want to cancel this challenge?
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <a href="{% url 'cancel_challenge' challenge.id %}" class="btn btn-danger custom-shadow-danger">Cancel Challenge</a>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  {% endif %}
                              </div>
                            </div>
                          </li>
                        </div>
                        </br>
                {% endfor %}
              {% else %}
                <p class="mt-3 text-center">No pending Challenges.</p>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</br></br></br>

<style>
    /* Reset default list styles */
    .list-group-item {
      list-style: none;
    }
</style>

{% endblock %}
