{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center mx-auto">
      <div class="col-md-6 mx-auto">
        <div class="card border-5 border-primary mt-5 custom-shadow rounded-4">
          <div class="card-header border-primary">
            <h1 class="card-title text-center">Dispute Under Review</h1>
          </div>
          <div class="card-body text-center">
            <span>Your dispute proof is being processed, and the match results will be updated once staff has finished reviewing the evidence.</span>
            <hr class="mx-auto border-5" style="width:80%">

            <div class="text-center mt-3">
              <div>
                </br>
                <a href="{% url 'home' %}" class ="btn btn-primary mx-3 shadow">Home</a>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
